/*FONDO DE PANTALLA*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:before, *:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background: #f0e9e6;
    line-height: 1.5;
    font-size: 16px;
}

/*CABECERA - header*/
#header {
    background: linear-gradient(to right, #a89584, #8c7265);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

#header .logo img { /*Logo Imagen*/
    max-width: 110px;
}

#header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

#header nav ul li a:hover {
    background: #e6dfd8;
    color: #8c7265;
    transform: scale(1.1);
}

.lenguage-selector select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: #e6dfd8;
    color: #8c7265;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
    }

    #header {
        flex-direction: column;
        gap: 15px;
    }

    #header nav ul {
        flex-direction: column;
        gap: 10px;
    }
}












